aiofiles
apscheduler
asyncio
oauth2client
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
motor
openssl
pyrogram
pymongo
python-dotenv
requests
telegraph
tgcrypto
liblp
git+https://github.com/martinetd/samloader.git
